<p>Bạn chưa có sản phẩm nào hoặc chưa chọn nhóm sản phẩm hiển thị. Bạn cần <a href="/admin/custom_collections">thêm sản phẩm vào danh mục</a> hoặc <a href="/admin/theme">chọn nhóm danh mục</a>.</p>
  <li class="col-sm-3">
    <div class="product">
      <div class="thumbnail">
        <a href="/admin/products">
          <img src="http://placehold.it/200x200" />
        </a>
      </div>
      <hr>
      <div class="title">
        <h3><a href="/admin/products">Sản phẩm mẫu</a></h3>
        <p>Haravan shop</p>
      </div>
      <span class="price">200.000đ</span>
    </div>
  </li>
  <li class="col-sm-3">
    <div class="product">
      <div class="thumbnail">
        <a href="/admin/products">
          <img src="http://placehold.it/200x200" />
        </a>
      </div>
      <hr>
      <div class="title">
        <h3><a href="/admin/products">Sản phẩm mẫu</a></h3>
        <p>Haravan shop</p>
      </div>
      <span class="price">200.000đ</span>
    </div>
  </li>
  <li class="col-sm-3">
    <div class="product">
      <div class="thumbnail">
        <a href="/admin/products">
          <img src="http://placehold.it/200x200" />
        </a>
      </div>
      <hr>
      <div class="title">
        <h3><a href="/admin/products">Sản phẩm mẫu</a></h3>
        <p>Haravan shop</p>
      </div>
      <span class="price">200.000đ</span>
    </div>
  </li>
  <li class="col-sm-3">
    <div class="product">
      <div class="thumbnail">
        <a href="/admin/products">
          <img src="http://placehold.it/200x200" />
        </a>
      </div>
      <hr>
      <div class="title">
        <h3><a href="/admin/products">Sản phẩm mẫu</a></h3>
        <p>Haravan shop</p>
      </div>
      <span class="price">200.000đ</span>
    </div>
  </li>