{% if article.tags.size > 0 %}
  <span class="entry-tags"><i class="fa fa-tags"></i>Tag: {% for tag in article.tags %}<a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
    {% endfor %}</span>
{% endif %}