{% layout settings.customer_layout %}
<section id="content">
  <div class="container">
    {% include 'breadcrumb' %}
    <div class="row">
      <div class="col-sm-12">
        <h1>Khôi phục mật khẩu</h1>
      </div>
    </div>
    <div class="row mt20">
      <div class="col-sm-6 col-sm-offset-3">

      {% form 'reset_customer_password' %}

      <p>Please enter a new password for {{ email }}.</p>

      {% include 'form-errors-custom' %}
      
      <div class="form-group">
        <label for="reset_password">Mật khẩu</label>
        <input type="password" value="" name="customer[password]" id="reset_password" class="form-control" {% if form.errors contains "password" %} class="error"{% endif %}>
      </div>
      
      <div class="form-group">
        <label for="password_confirmation">Nhập lại mật khẩu</label>
        <input type="password" value="" name="customer[password_confirmation]" id="password_confirmation" class="form-control" {% if form.errors contains "password_confirmation" %} class="error"{% endif %}>
      </div>

      <p><input type="submit" class="btn btn-primary btn-lg" value="Reset"></p>

      {% endform %}
      
      </div>
    </div>
  </div>
</section>


